@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

[data-sonner-toast][data-type="error"] {
  @apply bg-danger-400 !important;
}

[data-sonner-toast][data-type="success"] {
  @apply bg-success-400 !important;
}

[data-sonner-toast] [data-close-button="true"] {
  @apply bg-black !important;
  @apply text-white !important;
}
